.main {
    padding: 48px 0 120px;
}

.cardList {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.cardList__item {
    max-width: 400px;
    min-height: 400px;
}

@media (min-width: 768px) {
    .cardList {
        justify-content: space-around;
    }

    .cardList__item {
        width: calc(50% - 32px);
    }
}