
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1024px;
}

.container-footer {
    display: flex;
    align-items: center;
    background: var(--bg-footer);
    height: 98px;
    padding: 0 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.footer__searchInput {
    height: 58px;
    padding: 15px 24px;
    background: var(--bg-footerInput);
    border-radius: 32px;
    font-weight: 500;
    font-size: 18px;
    color: var(--c-footer);
    width: 101px;
    outline: none;
    border: none;
    transition: width .3s linear;
}


.footer__searchInput::placeholder {
    color: var(--c-footer);
}

.footer__searchInput:focus {
    width: 100%;
    transition: width .3s linear;
}


