.card {
    max-width: 320px;
    height: 421px;
    border-radius: 32px;
    background: url("../../../assets/img/searchIcon.jpg") center no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .card {
        width: 100%;
        max-width: 335px;
    }
}