.card{
    max-width: 320px;
    height: 421px;
    border-radius: 32px;
    background: url("../../../assets/img/Rectangle 7.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

@media (min-width: 768px){
    .card{
        width: 100%;
        max-width: 335px;
    }
    .card:nth-child(odd){
        margin-right: 32px;
    }
}