.cardList {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    min-height: 400px;
  }
}


@media (min-width: 768px) {
  .cardList {
    justify-content: space-between;

    &__item {
      width: calc(50% - 16px);
    }
  }
}