.container {
    min-width: 320px;
    max-width: 767px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
        max-width: 1024px;
    }
}
