.info {
  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__subTitle {
    font-size: 18px;
    font-weight: 300;
    color: var(--c-gray-200);
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}
