.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background: var(--bg-blue-gray-800);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


