.navBar {
  display: flex;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    padding: 10px 20px;
    font-weight: 300;
    color: var(--c-gray-200);

    &--active {
      border-radius: 32px;
      border: 1px solid #FFFFFF;
      color: var(--c-white);
    }
  }

  &__item:hover {
    cursor: pointer;
  }
}

